.container{
    width: 960px;
    /* height: 980px; */
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}
.grid-cell{
    width: 60px;
    height: 60px;
    border:2px solid black;
}
.grid-cell:hover{
    background-color: blue;
}